<ion-card class="container">
  <ion-grid>
    <ion-row class="ion-justify-content-start ion-align-items-center" style="margin-left: 10px">
      <ion-col size="auto">
        <ion-checkbox />
      </ion-col>
      <ion-col style="margin-left: 10px">
        <ion-card-header style="padding: 0">
          <ion-card-title>{{ todoTitle }}</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          5:00 AM
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

