<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="center-content">
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="circle">
          <ion-img src="https://img.freepik.com/fotos-gratis/pessoa-de-origem-indiana-se-divertindo_23-2150285283.jpg" alt="Imagem Circular"></ion-img>
        </div>
        <div class="content-container">
          <span>Anna Maria</span>
          <span>Height: 1.7ft</span>
          <span>Weight: 100p</span>
          <span>37 Yrs</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
